.toggler-block {

  &__top {
    display: flex;
    gap: 32px;
    border-bottom: 1px solid $grey;
  }

  &__container {
    position: relative;
    height: 705px;
    overflow: hidden;

    @media (max-width: 767.98px) {
      height: 660px;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    padding-top: 50px;
    transform: translate(300%);
    transition: ease-out 0.4s;

    &_active {
      transform: translate(0);
      transition: ease-out 0.4s;
    }
  }

  .toggler-block__body[data-toggle="mob"] {
    .main-title {
      font-size: 32px;
    }
    .section-title {
      font-size: 28px;
    }
    .subtitle {
      font-size: 20px;
    }
    .lead {
      font-size: 20px;
    }
  }

  &__toggler {
    padding-bottom: 15px;
    color: $grey;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: $black;
      border-bottom: 2px solid $text-hover;
      transition: all 0.3s;
    }

    &_active {
      color: $black;
      border-bottom: 2px solid $text-hover;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 767.98px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__col {

    &_first {
      max-width: 280px;
      width: 100%;
    }
    &_second {
      width: 592px;
    }

    .help-text {
      color: $grey;
    }
  }
}
